<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.festival.calendar.CalendarMapper">
	<select id="getEvent" resultType="com.soldesk.festival.calendar.EventBean"
	parameterType="com.soldesk.festival.calendar.EventBean">
		select * from gov_event where ge_start_date like '%'||#{ge_start_date}||'%'
	</select>
</mapper>