@CHARSET "UTF-8";
/* 모바일 버전  */
@media only screen and (max-width: 768px) {
	.searchBar{
		width: 100%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 10px;
	}
	.searchTableArea{
		width: 94%;
		background-color: #FFFFFF;
		border-radius: 8px;
	}
	#searchInput{
		width: 250px;
		background-color: #FFFFFF;
		border: #FFFFFF solid 2px;
		font-family: TitleText;
		font-size: 18px;
		font-weight: bold;
		outline: none;
	}
	#searchInput::placeholder{
		color: #BDBDBD;
	}
	#searchBtn{
		background-color: #FFFFFF;
		border: none;
		cursor: pointer;
		outline: none;
	}
	#searchIcon{
		width: 25px;
		height: 25px;
	}
	.searchResultArea{
		width:100%;
		height:100%;
		position:relative;
		display:inherit;
		justify-content:center;
	}
	.searchResultTable{
		margin-left: 3px;
		table-layout: fixed;
		border: #000000 solid 2px;
		background-color: #FFFFFF;
		font-family: TitleText;
		font-size: 15px;
		font-weight: bold;
	}
	.searchResultTable td{
		width:100%;
	}
}

/* 테블릿pc */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.searchTableArea{
		width: 80%;
		height: 50px;
		background-color: #FFFFFF;
		border-radius: 8px;
		position: absolute;
		top: 70px;
		left: 90px;
		z-index: 1;
	}
	#searchInput{
		width: 600px;
		background-color: #FFFFFF;
		border: #FFFFFF solid 2px;
		font-family: TitleText;
		font-size: 25px;
		font-weight: bold;
		outline: none;
	}
	#searchInput::placeholder{
		color: #BDBDBD;
	}
	#searchBtn{
		margin-right: 10px;
		background-color: #FFFFFF;
		border: none;
		cursor: pointer;
		outline: none;
	}
	#searchIcon{
		width: 30px;
		height: 30px;
	}
	.searchResultArea{
		position: absolute;
		top: 180px;
	}
	.searchResultTable{
		margin-top: 10px;
		border: #000000 solid 2px;
		background-color: #FFFFFF;
		font-family: TitleText;
		font-size: 15px;
		font-weight: bold;
	}
}

/* PC 버전  */
@media only screen and (min-width: 1224px) {
	.searchBar{
		width:100%;
		height:1000px;
		display:flex;
		align-items:center;
		justify-content:center;
		position:relative;
	}
	.searchTableArea{
		width: 800px;
		height: 70px;
		background-color: #FFFFFF;
		border-radius: 8px;
		position: absolute;
		top: 60px;
		left: 320px;
		z-index: 1;
	}
	#searchInput{
		width: 680px;
		background-color: #FFFFFF;
		border: #FFFFFF solid 2px;
		font-family: TitleText;
		font-size: 30px;
		font-weight: bold;
		outline: none;
	}
	#searchInput::placeholder{
		color: #BDBDBD;
	}
	#searchBtn{
		margin-right: 10px;
		background-color: #FFFFFF;
		border: none;
		cursor: pointer;
		outline: none;
	}
	.searchResultArea{
		position: absolute;
		top: 200px;
		
	}
	.searchResultTable{
		width: 600px;
		margin-top: 10px;
		font-family: TitleText;
		font-size: 15px;
		font-weight: bold;
	}
}